/*** GRID ***/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.6fr 1fr;
    grid-template-areas:
    "header header header header"
    "main main aside aside"
    "main main aside aside"
    "article article article article"
    "footer footer footer footer";
}

header { grid-area: header; }
main { grid-area: main; }
aside { grid-area: aside; }
article { grid-area: article; }
footer { grid-area: footer; }

@media screen and (max-width: 700px) {
    .grid-container {
    grid-template-areas:
    "header header header header"
    "main main main main"
    "aside aside aside aside"
    "article article article article"
    "footer footer footer footer";
    }
}

/*** MENU PRINCIPAL ***/



img#logo{
    width: 600px;
}

.headerPrincipal {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    text-decoration: none;
    background-color: #a21404;
    color: white;
    font-family: 'KoHo', sans-serif;font-family: 'KoHo', sans-serif;
}

.navItem {
display:inline-block;
width: 20vw;
background-color: rgb(71, 4, 4);
margin: 10px;
font-size: x-large;
border-radius: 15px;
color: white;
font-weight: 50px;
}

a:link, a:visited, a:active, a:hover {
        text-decoration:none;
        color: white;
        }

/*** CARROUSELES ***/

main{
    display:flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    border: solid 3px black;
}

section#carouselUltimosIngresos {
    height: 100%
}

aside{
    display:flex;
    flex-direction: column;
    text-align: center;
    border: solid 3px black;
}

/*** FORMULARIO DE CONTACTO ***/

h2#ultimosIngresos,
h2#otrosVehiculos,
h2#contactanos
{
    text-align: center;
    padding: 40px;
    background-color: rgb(71, 4, 4);
    color: white;
    margin: 0px;
}


h3 {
    height: 40px;
    padding: 30px;
    position: relative;
    bottom: 15px;
}

.articleForm {
    padding: 1%;
    background-color: #a21404;
    color: white;
}

form {
    display:flex;
    flex-direction:column;
    text-align: center;
}

select {
    width: 33%;
    align-self:center;
    text-align: center;
}


input#nombre,
input#email, 
input#telefono,
select {
    color: black;
    border-radius: 10px;
    text-align: center;
}

textarea {
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    align-self: center;
}

button#enviar, button#limpiar {
    position: relative;
    margin: 15px;
    width: 29%;
    font-size: large;
}

/*** FOOTER ***/

footer {
    background-color: black;
    color: white;
    height:240px;
    font-size: 1.1em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerContacto{
    margin: 30px;
}

.map {
    align-self: center;
}