body {
    font-family: 'KoHo', sans-serif;
}

h1#contactanosHeader{
  text-align: center;
  padding: 40px;
  background-color: rgb(71, 4, 4);
  color: white;
  margin: 0px;
  
}

h3 {
  height: 50px;
  padding: 30px;
  position: relative;
}

.articleForm {
  padding: 1%;
  background-color: #a21404;
  color: white;
}

form#formContactanos {
  display:flex;
  flex-direction:column;
  text-align: center;
}

input#nombre,
input#email, 
input#telefono,
select {
  width: 33%;
  height: 30px;
  color: black;
  border-radius: 10px;
  text-align: center;
  align-self:center;
}

textarea {
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  align-self: center;
}

button#enviar, button#limpiar, input#volver{
  position: relative;
  margin: 15px;
  top: 10px;
  width: 29%;
  font-size: large;

}