

h1#vehiculosEnVentaHeader {
  text-align: center;
  padding: 40px;
  background-color: rgb(71, 4, 4);
  color: white;
  margin: 0px;
  padding: 1%;
  font-family: 'KoHo', sans-serif;
}

.vehiculosEnVenta {
  font-family: 'KoHo', sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  width: 90vw
}

img{
  height: 335px;
}


section.ultimosIngresos {
  display:flex;
  justify-content: space-around;
  margin: 20px 0px;
  }
  
  section.otrosVehiculosEnStock {
    display:flex;
    justify-content: space-around;
  }

h2#ultimosIngresos, h2#otrosVehiculosEnStock{
  background-color: #a21404;
  color:white;
  height: 334.98px;
  position: relative;
  top: 41px;
  width: 150px;
  left: 2.61%;
}

span#otrosVehiculosText, span#ultimosIngresosText{
  position: relative;
  top: 30%
}

input#volverVehiculosEnVenta {
  padding: 20px;
  position: realtive;
  width: 20%;
  align-self: center;
  margin: 25px 0px 25px 0px;
  font-family: 'KoHo', sans-serif;
  background-color: #a21404;
}


/*** FOOTER ***/

footer {
  background-color: black;
  color: white;
  height:240px;
  font-size: 1.1em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footerContacto{
  margin: 30px;
}

.map {
  align-self: center;
}
