body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'KoHo', sans-serif;font-family: 'KoHo', sans-serif;
}


h1#quienesSomosHeader{
  text-align: center;
  padding: 40px;
  background-color: rgb(71, 4, 4);
  color: white;
  margin: 0px;
  font-family: 'KoHo', sans-serif;font-family: 'KoHo', sans-serif;
}


#nuestraHistoria,
#nuestraMision {
  background-color:#a21404;
  color: white;
  border-radius: 15px;
  padding: 50px;
  font-size: 1em;
  text-align:justify;
  margin: 40px;
  font-family: 'KoHo', sans-serif;font-family: 'KoHo', sans-serif;
}

section#mision{
  display:flex;
  flex-direction: column;
}

input#volverQuienesSomos {
  padding: 20px;
  position: realtive;
  width: 20%;
  align-self: center; 
  margin: 0px 0px 25px 0px;
  font-family: 'KoHo', sans-serif;font-family: 'KoHo', sans-serif;
}